@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(./MaterialIcons-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons Outlined'),
        local('MaterialIconsOutlined-Regular'),
        url(./MaterialIconsOutlined-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Material Icons Round';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons Round'),
        local('MaterialIconsRound-Regular'),
        url(./MaterialIconsRound-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Material Icons Sharp';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons Sharp'),
        local('MaterialIconsSharp-Regular'),
        url(./MaterialIconsSharp-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Material Icons Two Tone';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons Two Tone'),
        local('MaterialIconsTwoTone-Regular'),
        url(./MaterialIconsTwoTone-Regular.woff2) format('woff2');
}

.material-icons, .material-icons-outlined, .material-icons-round, .material-icons-sharp, .material-icons-two-tone {
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-user-select: none;
    user-select: none;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.material-icons { font-family: 'Material Icons'; }
.material-icons-outlined { font-family: 'Material Icons Outlined'; }
.material-icons-round { font-family: 'Material Icons Round'; }
.material-icons-sharp { font-family: 'Material Icons Sharp'; }
.material-icons-two-tone { font-family: 'Material Icons Two Tone'; }
